* text=auto eol=lf

*.php text working-tree-encoding=UTF-8
*.js text working-tree-encoding=UTF-8
*.css text working-tree-encoding=UTF-8
*.html text working-tree-encoding=UTF-8
*.json text working-tree-encoding=UTF-8
*.md text working-tree-encoding=UTF-8



# text=auto eol=lf
#*.php text
#*.js text
#*.css text
#*.html text
#*.json text
#*.md text